<body>
    <div class="container">
        <app-search (search)="findUser($event)"></app-search>

        <div class="card" *ngIf="user1">
            <div class="card-header">
                <h3 class="bold">{{user1.name.toUpperCase()}}.</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-thumbnail" src="{{user1.avatar_url}}">
                    </div>
                    <div class="col-md-8">
                        <div class="first">
                            <span class="badge">{{user1.public_repos}} Public Repositories</span>
                            <span class="badge">{{user1.followers}} Followers</span>
                            <span class="badge">{{user1.following}} Following</span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><b>Username: </b>{{user1.login}}</li>
                            <li class="list-group-item"><b>Joined: </b>{{user1.created_at|dateAgo}}</li>
                            <li class="list-group-item"><b>Link to Github: </b><a href="{{user1.html_url}}"
                                    target="_blank">{{user1.html_url}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="card align" *ngIf="user1">
                <div class="card-header">
                    <h3>{{user1.login}}'s repositories</h3>
                    <h6>{{user1.name}}</h6>
                </div>
                <div class="card-body">
                    <div class="row" *ngFor='let repo of repos, let i=index'>
                        <div class="col-md-4">
                            {{repos[i].name}}
                        </div>
                        <div class="col-md-4">
                            {{repos[i].pushed_at| dateAgo}}
                        </div>
                        <div class="col-md-4">
                            <a href="{{repos[i].html_url}}" target="_blank"><button
                                    class="btn-inline btn-outline-info">View on
                                    Github</button></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>