.card-header{
    background-color: black;
    text-align: center;
    color: white;
  }

.bold {
  font-weight: bold;
}
  
  .card-body{
  background-color:white;
  }

  .badge{
    padding: 15px;
    margin: 10px;
    }
  
  .first {
    background-color: black;
    text-align: center;
    color: white;
  }

  .align {
    text-align: center;
  }

  .btn-inline {
    color:black;
    font-weight: bold;
}