/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';

.margin {
    margin: 20px;
}
.align {
    text-align: center;
}
.btn-dark {
    box-align: center;
}